.page-header {
  margin-top: 10px;
  padding: 10px 0 10px 0;
  background-color: #fff;
  box-shadow: 0 5px 25px -15px #B2B3BB;
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  padding-bottom: 20px;
}
