.page-header {
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 5px 25px -15px #B2B3BB;

  @media (min-width: $tablet) {
  }
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  padding-bottom: 20px;
}
