.profile {
  padding-top: 30px;

  @media (min-width: $tablet) {
    padding-top: 0;
    flex-shrink: 0;
    width: 300px;
    margin-right: 24px;
  }

  @media (min-width: $desktop) {
    width: 350px;
  }
}

.profile__main-info {
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-start;
  }
}

.profile__avatar {
  @media (max-width: $mobile-only) {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.profile__wrap {
  position: relative;

  @media (min-width: $tablet) {
    width: 100%;
    margin-left: 24px;
    padding-right: 20px;
  }
}

.profile__name {
  padding-bottom: 8px;

  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  color: $text-color;

  text-align: center;

  span{
    display: block;
  }

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.profile__username {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: $text-color;

  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.profile__edit {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  color: $text-red;
  text-decoration: underline;

  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    background-image: url("../img/edit.svg");
  }

  &:hover {
    opacity: 60%;
  }
}

.profile__description {
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}
