$main-font: "Open Sans", "Arial", sans-serif;
$secondary-font: "Montserrat", "Arial", sans-serif;

//Colors
$page-background: #F7F9FC;
$text-color: #3E3F58;
$text-color2: #3E4056;
$stats-color: #636363;
$text-red: #F05D63;
$hashtag-color: #ECF1F8;
$gradient1: #FF974F;
$gradient2: #E32C75;
$grey: #B2B3BB;
$slider-red: #ED5267;

//Media
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;
